html, body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	height: 100%;
	color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}

.bg-1 { 
	background-color: #668aa9;
	color: #ffffff;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.wrapper {
	display: table;  
	width: 100%;
	height: 100%;
}

.wrapper-inner{
	vertical-align: top;
	width: 100%;
	height: 100%;
	display: table-cell;
}

.wrapped-inner{
	/*display: table-cell;*/
}
.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;

	width: 100%;
}
.navbar-nav  li a:hover {
	color: #1abc9c !important;
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .navbar {
    position: fixed;
    top: 0;
  }
  .foot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .navbar,
  .foot,
  .wrapper{
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}